* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffffb2;
  font-weight: 600;
}
.main {
  width: 60%;
  height: 80vh;
  background-color: #6d6262;
  border-radius: 7px;
}
h1,
p {
  margin: 10px 0;
}

p {
  font-size: 20px;
}

#slackDisplayImage {
  width: 300px;
  border-radius: 10px;
  height: 300px;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  background-color: #ff9f1c;
  padding: 5px 12px;
  border-radius: 7px;
}
a:hover {
  background-color: rgb(212, 114, 44);
  color: #000;
}
